@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Great+Vibes&family=Cormorant:wght@300;400&display=swap');
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));



:root {
  background-color: #001233;
  --radius: 0.625rem;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Wrapper général */
.mytiq-ticket-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant", serif;
}

/* Section logo / ticket */
.ticket-section {
  padding: 20px;
}

/* Texte MYTIQ EVENT */
.logo-title {
  font-family: "Poiret One", sans-serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 0.9;
  margin: 0;
  color: white;
  text-transform: uppercase;
}

.logo-subtitle {
  font-family: "Poiret One", sans-serif;
  font-size: 2.2em;
  font-weight: 100;
  margin: 0;
  color: white;
  line-height: 1;
}

.content-section {
  background-color: #A40000;
  width: 40%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; 
  text-align: center;
  color: #C9BCBC;
  border-right: 2px dashed #001233;
}

/* Style du cercle */
.Cercle {
  height: 20px;
  width: 20px;
  background-color: #001233;
  border-radius: 50%;
  position: absolute;     
}

.Cercle.cercle1 { top: -10px;right: -10px; }
.Cercle.cercle2 { top: -8px; left: -2px; }
.Cercle.cercle3 { bottom: -10px; right: -10px; }
.Cercle.cercle4 { top: -8px;right: -120px;  }
.Cercle.cercle5 { bottom: -8px; right: -120px; }
.Cercle.cercle6 { bottom: -10px;left: -2px;  }
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--dot-color, #001233);
}
.logoBg{
    background-color: var(--bg-color, #A40000);
}
.content-title {
  color: white;
  font-style: "Poiret One", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.content-quote {
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
}

.stars-section {
  background-color: #A40000;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.star{
    font-size: 19px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

